/* @font-face {
    font-family: FaBrands;
    src: url(webfonts/fa-brands-400.woff2);
}
@font-face {
    font-family: FaRegular;
    src: url(webfonts/fa-regular-400.woff2);
}
@font-face {
    font-family: FaSolid;
    src: url(webfonts/fa-solid-900.woff2);
}
@font-face {
    font-family: FaV4compatibility;
    src: url(webfonts/fa-v4compatibility.woff2);
} */

